@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1220px;
    min-width: 991px;
    padding: 0 10px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    width: 100%;
    border-bottom: 0.3px solid #46A35880;
    padding: 25px 0;
}
.logo{
    display: inline-block;;
    margin-left: 20px;
    vertical-align: top;
}
.nav{
    display: inline-block;
    width: 351px;
    margin: 0 230px;
    vertical-align: top;
}
.navlist{
    list-style: none;
    padding: 0;
}
.navlist li {
    display: inline-block;
    margin: 0 10px; 
    vertical-align: top; 
}
.navlist a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3D3D3D;
    cursor: pointer;
    padding-bottom: 43px;
}
.navlist a:hover {
   border-bottom: 3px solid #46A358;
}
.headerend {
    display: inline-block;
    vertical-align: top;
}
.glas{
    cursor: pointer;
}
.bascet{
    margin: 0 25px;
    cursor: pointer;
}
.btnlogin{
    margin-bottom: auto;
    border: 1px solid #46A358;
    border-radius: 5px;
    background-image: url(../img/Logout.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: top;
    padding: 8px 30px ;
}
.section {
    margin-top: 25px;
    font-size: 0;
    background-color: #F5F5F580;
    padding-bottom: 25px;
    margin: 0 -40px;
}
.sectioncontent {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    padding-left: 40px;
}
.section h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.8px;
    color: #3D3D3D;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.section h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color:#3D3D3D; 
    text-transform: uppercase;
    padding-bottom: 25px;
}
.section span {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color:#46A358; 
    text-transform: uppercase;
}
.section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#727272; 
    padding-bottom: 10px; 
}
.btnshopnow {
    border: 1px solid #46A358;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 50px;
    padding: 10px 25px;
}
.sectionfoto{
    width: 40%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
.catalog{
    margin: 25px -10px;
}
.categories {
    width: 25%;
   padding: 0 10px;
    float: left;
    margin-top: 25px;  
}
.catalog-main {
    width: 75%;
    float: left;
    padding: 0 10px;
    margin-top: 25px;
}
.catalog-list {
    margin:0 -10px;
}
.categories h3{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 25px;
}
.categories-items {
    margin-bottom: 260px;
}
.categories-items ul {
    list-style: none;
    padding-left: 5px;
}
.categories-items li {
    list-style: none;
}
.categories-items a {
    text-decoration: none;
    font-size: 15px;
    color: #4E4C4C;
    line-height: 40px;
}
.categories-items a:hover {
    color: #46A358;
}
.catalog-item{
    width: 33.333%;
    padding: 0 10px;
    margin-bottom: 70px;
    float: left;
}
.catalog-item-pics {
    width: 300px;
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 12px;
}
.catalog-item-title {
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
    text-align: left;
}
.catalog-item-price {
    font-size: 18px;
    color: #46A358;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
}
.mr0{
    margin-right: 0;
}
.catalog-filter {
    margin: 20px 5px;
}
.plants {
    float: left;
}
.plants a {
    text-decoration: none;
    font-size: 15px;
    color: #3D3D3D;
    line-height: 16px;
    margin-right: 20px;
}
.plants a:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
}
.choice {
    float: right;
    font-size: 15px;
    color: #3D3D3D;
}
.select select  option {
    font-size: 15px;
    color: #3D3D3D;
}
.pagination li{
    list-style: none;
    text-align: center;
    float: right;
    margin-left: 5px;
}
.pagination a {
    text-decoration: none;
    font-size: 15px;
    color: #3D3D3D;
    border: #E5E5E5 1px solid;
    padding:10px;
}
.open a {
    background-color: #46A358;
    color: #FFFFFF;

}
