@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1220px;
    min-width: 991px;
    padding: 0 10px;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
.body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 0.3px solid #46A35880;
    margin: 25px 0;
}
.logo{
   /* margin-left: 20px;*/
}
.nav{
    display: flex;
    width: 351px;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-bottom: 6px;
}
.nav-list > li {
    position: relative;
}
.nav-list > li:hover > ul {
    display: block;
}
.nav-list  ul {
    width: 188px;
    list-style: none;
    padding-left: 0;
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #EDF6EE;
    padding: 10px 0;
    border: 1px solid #E5E5E5;
    border-radius: 5px;

}
.nav-list  ul::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -1px;
    width: 100%;
    height: 35px;
    background: transparent;
}
.nav-list  ul a {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #3D3D3D;
    display: block;
    padding: 10px 20px;
}
.nav-list  ul a:hover {
    background-color: #46A358;
    color: #FFFFFF;
}

.nav-list > li >  a {
    text-decoration: none;
    font-family: 'Cera Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color:#3D3D3D;
    cursor: pointer;
    padding-bottom: 7px;
}
.nav-list > li > a:hover {
   border-bottom: 3px solid #46A358;
}
.headerend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.glas{
    cursor: pointer;
    margin-right: -4px;
}
.bascet{
    margin: 0 35px;
    cursor: pointer;
    position: relative;
}
.bascet span {
    font-size: 10px;
    color: #FFFFFF;
    background-color: #46A358;
    border-radius: 7px;
    padding: 0px 4px;
    position: absolute;
    top: -1px;
    right: -5px;
}
.btnlogin{
    margin-bottom: auto;
    border: 1px solid #46A358;
    border-radius: 5px;
    background-image: url(../img/Logout.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: top;
    padding: 8px 30px ;
}
.section {
    display: flex;
    align-items: flex-start;
    margin-top: 54px; 
    background-color: #F5F5F580;
    padding-bottom: 25px;
}
.sectioncontent {
    width: 60%;
    vertical-align: top;
    padding-top: 17px;
    padding-left: 42px;
}
.section h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.3px;
    color: #3D3D3D;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 7px;
}
.section h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: #3D3D3D;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.section span {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color:#46A358; 
    text-transform: uppercase;
}
.section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    padding-bottom: 0px;
}
.btnshopnow {
    border: 1px solid #46A358;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 45px;
    padding: 10px 25px;
}
.sectionfoto{
    width: 40%;
    height: 400px;
    padding-left: 15px;
}
.catalog{
    display: flex;
    align-items: flex-start;
    margin: 20px -10px;
}
.categories {
    width: 25%;
    padding-left: 27px;
    margin-top: 25px;  
    background-color: #FBFBFB;
}
.catalog-main {
    width: 75%;
    padding: 0 10px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin:0 -10px;
}
.categories h3{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 7px;
}
.categories-items {
    margin-bottom: 378px;
}
.categories-items ul {
    list-style: none;
    padding-left: 12px;
}
.categories-items li {
    list-style: none;
}
.categories-items a {
    text-decoration: none;
    font-size: 15px;
    color: #4E4C4C;
    line-height: 40px;
}
.categories-items a:hover {
    color: #46A358;
}
.baner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-item{
    width: 33.333%;
    padding: 0 10px;
    margin-bottom: 45px;
    position: relative;
    
}
.ikons {
    position: absolute;
    bottom: 58px;
    left: 56%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    margin-top: 15px;
    display: none;
}
.ikons a {
    text-decoration: none;
    color: #3D3D3D;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ikons a :hover path {
    fill: #46A358;
    color: #FFFFFF;
}
.catalog-item:hover .ikons {
    display: flex;
}
.catalog-item:hover .catalog-item-pics {
    border-top: #46A358 1px solid;
}

.sale {
    position: absolute;
    top: 43px;
    left: 11px;
    background-color: #46A358;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 9px;
    border-radius: 5px;
    z-index: 1;
}
.catalog-item-pics {
    width: 300px;
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 30px;
    margin-top: 25px;
    border-top: transparent 1px solid;
   /* padding-left: 21px;*/
}
.catalog-item-img {
    height: 250px;
    display: flex;
    background-color: #FBFBFB;
    justify-content: center;
    align-items: center;
}
.catalog-item-title {
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
    text-align: left;
    padding-top: 25px;
}
.catalog-item-price {
    font-size: 18px;
    color: #46A358;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
}
.catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8px 0px;
}
.plants{
    /*margin-left: 5px;*/
}
.plants a {
    text-decoration: none;
    font-size: 15px;
    color: #3D3D3D;
    line-height: 16px;
    margin-right: 43px;
}
.plants a:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
}
.choice {
    font-size: 15px;
    color: #3D3D3D;
    line-height: 16px;
}
.select select  option {
    font-size: 15px;
    color: #3D3D3D;
}
.pagination{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-top: 47px;
}
.pagination li{
    /*width: 35px;
    height: 35px;*/
    list-style: none;
    text-align: center;
    margin-left: 10px;
}
.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-size: 15px;
    color: #3D3D3D;
    border: #E5E5E5 1px solid;
    padding:10px;
}
.open a {
    background-color: #46A358;
    color: #FFFFFF;
}
.trends {
  display: flex;
  padding: 20px 0px;
  width: 100%;
  margin: 105px -10px 137px;
}

.cactus, .sammers {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 10px;
  background-color: #FBFBFB;
}
.trends-discription {
  text-align: right;
  margin-right: 10px;
}
.trends-discription h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3D3D3D;
}
.trends-discription p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
    margin: 20px 0px;  
}
.trends-discription button {
    color: #FFFFFF;
    background-color: #46A358;
    border: 1px solid #46A358;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 30px;
}
.blog {
    width: 100%;
    margin-bottom: 98px;
}
.blog h3 {
    font-size: 30px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #3D3D3D;
}
.blog > p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin: 15px 0px;
}
.blog-posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;

}
.blog-cart {
    width: 25%;
    padding: 18px 10px;
    background-color: #FBFBFB;
}
.blog-cart .blog-first {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #46A358;
    text-align: start;
     margin: 8px 16px;
}
.blog-cart .blog-second {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    text-align: start;
    padding: 0px 15px;
}

.blog-cart h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #3D3D3D;
    text-align: start;
    padding: 0px 15px;
}
.blog-cart a {
    text-decoration: none;
    font-family: inherit;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-align: start;
    padding: 0px 15px;
}

.plant-container {
  display: flex;
  padding: 40px 0px;
  background-color: #FBFBFB;
}
.features-grid {
    margin: 0 -10px;
    display: flex;
    flex: 2; 
}
.feature-card {
  flex: 1;
  padding: 0 10px;
}
.icon-wrapper {
    width: 77px;
    height: 95px;
    border-radius: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 15px;
    overflow: hidden;
}
.icon-wrapper img {
    max-width: 100%;
    height: auto;
}
.feature-card h3 {
    color: #3D3D3D;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
}
.feature-card p {
  color: #727272;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.newsletter-block {
  flex: 1;
  background-color: #fbfbfb;
}
.newsletter-form {
  display: flex;
  width: 92%;
  margin: 16px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.newsletter-form input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletter-form button {
    background-color: #46a358;
    color: white;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    border: none;
    padding: 12px 29px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}
.newsletter-block h3 {
    color: #3D3D3D;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    margin: 0 16px;
}
.newsletter-block p {
    color: #727272;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 16px;
}
.greenline {
    background-color:rgba(70, 163, 88, 0.1);
}
.contact-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 22px 0px; 
}
.contact-item a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    width: 20%;
    align-items: center;
    padding-left: 1px;
}
.contact-item p {
    color: #3D3D3D;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    width: 20%;
    align-items: center;
}
.box-footer {
  display: flex;
  justify-content: space-between; 
  margin: 0 -10px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 20px;
}
.footer-column {
 /* width: 25%;*/
  padding: 0 10px;
  flex: 1;
}
.footer-column-right {
  padding: 0 10px;
  flex: 2;
}
.footer-column h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #3d3d3d;
}
.footer-column-right h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #3d3d3d;
}
.footer-column ul {
  list-style: none; 
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 5px;
}
.footer-column ul li a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.social-icons {
  display: flex;
  margin: 20px 0px;
}
.social-icons a {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.social-icons a:hover path {
  fill: #3d3d3d;
  border: 1px solid #3d3d3d ;
}


.copyright {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #3d3d3d;
}









.popup {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
}
.popup-inset{
    font-family:inherit;
    width : 500px;
    padding: 50px 100px;
    border-bottom: 10px solid #46A358;
    background-color: #FFFFFF;
    margin: 50px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.exit {
    width: 300px;
    position: absolute;
    left: 10px;
    top: -10px;
    padding-top: 20px;
    align-items: end;
}
.login, .register {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
}

.login {
    width: 300px;
    color: #46A358;
    padding-left: 55px;
}
.inLogin {
    color: #3D3D3D;
}
.register {
    color: #46A358;
}
.Enter {
    width: 300px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
}
.data {
    width: 300px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
}
.submit {
    width: 300px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #46A358;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}
.orRegistr {
    width: 300px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    text-align: center;
}
.social {
    width: 300px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    cursor: pointer;
}


